:root {
  --MainBlack: #000;
  --MainWhite: #fff;
  --MainAqua: aqua;
  --MainRed: red;
}
body {
  font-family: 'Neucha', sans-serif!important;
  box-sizing: border-box; 
}
.MainContainer {
  display: grid;
  grid-template-columns: 336px 4fr;
  grid-template-areas: 
   "navbar wrapper"
   ".      wrapper"
   ".      wrapper"
}
.wrapper {
  grid-area: wrapper;
}
.navbar {
  grid-area: navbar;
  color: var(--MainWhite);
  height: 100vh;
  background: var(--MainBlack);
}
.slider{
  height: 80vh;
  overflow: hidden;
}
.text {
  font-family: 'Indie Flower', sans-serif;
}
.text-blue{
  color: #00008B;
}
.text:hover {
 color: red;
}
.text-blue:hover{
  color: var(--MainAqua);
}
.aqua:hover {
  background: var(--MainAqua);
  color: var(--MainWhite);
}
@media screen and (max-width: 1200px) {
  .MainContainer {
  position: absolute;
  }
}
@media screen and (max-width: 900px) {
  .MainContainer {
    grid-template-columns: 900px;
    grid-template-areas: 
    "navbar"
    "wrapper"
  }
}
@media screen and (max-height: 600px) {
  .navbar .list li {
    font-size: 8px;
  }
  .navbar .image {
    width: 20px;
    height: 20px;
  }
  .button {
    font-size: 10px;
    padding: 1px;
  }
}
@media screen and (max-width: 576px) {
    .MainContainer {
      grid-template-columns: 576px;
    }
}
@media screen and (max-width: 360px) {
  .MainContainer {
    grid-template-columns: 360px; 
  }
  .navbar .container{
    width: 360px;
  } 
}
@media screen and (max-width: 336px) {
  .MainContainer {
    grid-template-columns: 336px; 
  }
  .navbar .container{
    width: 336px;
  }
}
@media screen and (max-width: 320px) {
  .MainContainer {
    grid-template-columns: 320px; 
  }
  .navbar .container{
    width: 320px;
  }
}



